.input-file {
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 1000;
}

.input-file span {
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 10px;
  background-color: #dcd8dd;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}

.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file input[type="file"]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-file:hover span {
  background-color: #c0b9c5;
}

.input-file:active span {
  background-color: #6d04dd;
}

.input-file input[type="file"]:disabled + span {
  background-color: #eee;
}

/* .period-button {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1000;
} */
